body
	{
		background-color: pink;
	}
a:link, a:visited
	{
		background-color: transparent;
		color:white;
		padding: 15px;
		text-decoration: none;
		font-family: Verdana;
		display: inline-block;
	}

a:hover
	{
		background-color: grey green;
		color: black;
		font-family: Times New Roman;
	}